Repository Drumpy/vrttv-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

:see_no_evil: fix: remove .vscode folder from gitignore
  .gitignore
Due: none

:fire: fix: remove tests files
  src/App.test.tsx
  src/utils/test-utils.ts
Due: eslint, prettier --write

:fire: fix: remove App.css and update App.tsx
  src/App.css
  src/App.tsx
Due: eslint, prettier --write

:bento: fix: update images and reference
  public/favicon.svg
  src/App.tsx
  src/images/VRTTV.png
Due: eslint, prettier --write

:wrench: feat: add .vscode settings
  .vscode/settings.json
Due: eslint, prettier --write

:heavy_plus_sign: feat: Added viteImagemin and createHtmlPlugin plugins
  config.js
  index.html
  package-lock.json
  package.json
  vite.config.ts
Due: eslint, prettier --write

:memo: docs: update readme with new technologies
  README.md
Due: prettier --write

:memo: docs(readme): update some flags and text
  README.md
Due: prettier --write

:memo: docs(readme): update banner image and typos
  README.md
Due: prettier --write

:wrench: fix: added suggested extensions for vscode
  .vscode/extensions.json
Due: eslint, prettier --write

:heavy_plus_sign: chore: added eslint plugins
  package-lock.json
  package.json
Due: eslint, prettier --write

:wrench: chore: update eslint/prettier plugins and rules
  .eslintrc.json
  .prettierrc
Due: eslint, prettier --write

:memo: docs(readme): added table w/ commits rules
  README.md
Due: prettier --write

:bento: chore: updated images
  src/images/VRTTV.png
  src/images/react.svg
  src/images/tailwindcss.svg
  src/images/typescript.svg
  src/images/vercel.svg
  src/images/vite.svg
Due: none

:wrench: chore: updated svgo plugin configs
  config.js
Due: eslint, prettier --write

:sparkles: feat: new markup for demo purposes
  src/App.tsx
Due: eslint, prettier --write

:memo: docs(readme): examples of how to write commits
  README.md
Due: prettier --write

:memo: docs(readme): fixed tabs in commands code
  README.md
Due: prettier --write

:bento: chore: update icons
  src/assets/images/react.svg
  src/assets/images/tailwindcss.svg
  src/assets/images/typescript.svg
  src/assets/images/vercel.svg
  src/assets/images/vite.svg
Due: none

:heavy_plus_sign: chore: added fonts vite plugin and conf
  package-lock.json
  package.json
  src/main.tsx
  tailwind.config.cjs
  vite.config.ts
Due: eslint, prettier --write

:wrench: chore: added relative imports
  vite.config.ts
Due: eslint, prettier --write

:bento: chore: added cascadia code custom font
  src/assets/fonts/CascadiaCodePL-Bold.woff2
  src/assets/fonts/CascadiaCodePL-ExtraLightItalic.woff2
  src/assets/fonts/CascadiaCodePL-Regular.woff2
Due: none

:lipstick: style: added icons, custom font and some changes
  src/App.tsx
Due: eslint, prettier --write

:heavy_plus_sign: chore: added stylelint dep and configs
  .lintstagedrc
  .stylelintignore
  .stylelintrc.json
  .vscode/extensions.json
  package-lock.json
  package.json
Due: eslint, prettier --write

:wrench: chore: updated some configs
  .editorconfig
  .eslintrc.json
  .husky/pre-commit
Due: eslint, prettier --write

:bento: chore: some minimal updates
  .vscode/settings.json
  index.html
  public/images/favicon.svg
Due: eslint, prettier --write

:wrench: chore: updated some linter configs
  .eslintrc.json
  .lintstagedrc
  .prettierignore
  .prettierrc
  .vscode/extensions.json
Due: eslint, prettier --write

:art: style: run linter in some files [skip-ci]
  src/main.tsx
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Due: eslint, prettier --write

:hammer: build: added some new scripts to linters
  package.json
Due: eslint, prettier --write

:memo: docs(readme): tip to skip ga and some fixes
  README.md
Due: prettier --write

:wrench: chore: remove simple-import-sort rule
  .eslintrc.json
Due: eslint, prettier --write

:hammer: chore: update dev script
  package.json
Due: eslint, prettier --write

:memo: docs(readme): added template option and typos
  README.md
Due: prettier --write

:wrench: chore: some tsconfig changes and fonts plugin
  tsconfig.json
  vite.config.ts
Due: eslint, prettier --write

:construction_worker: ci: added flag to remove vercel comments
  .github/workflows/pipeline.yml
Due: none

:lipstick: chore: update index.css name and refs
  src/global.css
  src/main.tsx
Due: eslint, prettier --write

:truck: refactor: create folder components and update files
  src/App.tsx
  src/components/App.tsx
  src/main.tsx
Due: eslint, prettier --write

:mag: chore: added meta description
  index.html
Due: none

:memo: docs(readme): gif is added explaining a commit
  README.md
Due: prettier --write

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx,json}
  prettier --write: (any of: *.{js,jsx,ts,tsx,json}) or (any of: *.{css,md})
